.tabs {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.tabList, .tabPanels {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 4vh;
    gap: 10px;
}

.tab {
    border: none;
    outline: none;
}

.button {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
}

.button:active,
.button:focus,
.button:hover 
.tab:active, 
.tab:focus,
.tab:hover {
    color: lightseagreen !important;
}

.tabPanels {
    margin: 1vh 0;
}

