.tabBg {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    /* border-radius: 50px;
    background-color: rgba(255, 248, 248, 0.699);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2),
                2px 5px 5px rgba(0, 0, 0, 0.2); */
}
.tabs {
    padding: 5px;
    transition: ease-in-out 0.333s all;
}

.tabList, .tabPanels {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    height: 4vh;
    gap: 5px;
    margin-left: .25vw;
}

.tabList:active,
.tabPanels:active,
.tabPanels:focus {
    border: none;
    outline: none;
}

.tab {
    width: 50%;
    height: 10%;
    border: none;
    outline: none;
}

.active,
.active:active {
    border: none;
    outline: none;
    width: 50%;
    border-radius: 50px;
    font-weight: bold;
    color: rgb(255, 248, 248);
    box-shadow: inset 5px 2px 5px rgba(0, 0, 0, 0.2),
                inset 2px -2px 5px rgba(0, 0, 0, 0.2),
                inset 2px -2px 5px rgba(0, 0, 0, 0.2);
}

.activeInfected {
    background-color: rgb(34, 199, 191);
}

.activeRecovered {
    background-color: rgb(105, 181, 228);
}

.activeDeaths {
    background-color: rgb(230, 110, 110);
}

.button {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
}

.button:active,
.button:focus,
.button:hover {
    color: lightseagreen !important;
}

.tabPanels {
    margin: 1vh 0;
}

.tabPanel {
    height: fit-content;
    width: 100%;
}
