.tabs {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.tabList, .tabPanels {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 4vh;
    gap: 5px;
}

.tab {
    border: none;
    outline: none;
    font-size: 1.2rem;
    background-color: rgba(236, 247, 255, 0.671);
    transition: all .333s ease-in-out;
    border-radius: 5px;
}

.tab:active, .tab:focus {
    background-color: #fff;
    color: lightseagreen;
    border-left: 2px solid lightseagreen;
    border-bottom: 2px solid lightseagreen;
}

.tabPanels {
    margin: 1vh 0;
}

