.card {
    height: auto;
    width: 100%;
    margin-bottom: 2vh;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.cardTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: lightseagreen;
}

.cardBody {
    margin-top: 1vh;
    font-size: 1.25rem;;
}
