.tabPanelComponent {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content;

    height: 100%;
    width: 100%;
    padding: 1vh 0;

    font-size: 1.5rem;
    font-weight: 900;
    color: lightseagreen;
    
}

.countryName {
    grid-column: 1 / span auto;
}