.homeContainer {
    height: 87vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.results {
    grid-row: 1 / span 2;
    grid-column: 1 / span 6; ;
}

.selectCountry {
    grid-column: 5 / span 6;
    grid-row: 3 / span 2;
}

.topCountry {
    grid-column: 5 / sapn 6;
    grid-row: 4 / span 8;
}

.chart {
    grid-column: 1 / span 4;
    grid-row: 3 / span 8;
}