h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.appBody {
    height: 100vh;
    width: 100vw;
    display: grid;
    position: relative;
    grid-template-rows: 8vh auto 5vh;
}

.wrapper {
    padding: 1vw 2vw;
}

.applyNeumorphism {
    background: #e2f0f8;
    box-shadow:  8px 8px 16px #b3bec4,
             -8px -8px 16px #ffffff;
}

.applyBoxShadow {
    background-color: #fff !important;
    box-shadow: 9px 11px 5px -4px rgba(0,0,0,0.27);
    -webkit-box-shadow: 9px 11px 5px -4px rgba(0,0,0,0.27);
    -moz-box-shadow: 9px 11px 5px -4px rgba(0,0,0,0.27);
}