.countryContainer {
    height: 100%;
    width: auto;
    margin-left: 1vw;
    padding: 5px;
    border-radius: 5px;
    border-radius: 11px;
background: #e2f0f8;
box-shadow:  8px 8px 16px #b3bec4,
             -8px -8px 16px #ffffff;
}