
.countryContainer {
    height: 100%;
    width: 100%;
    display: grid;
    /* flex-direction: column; */
    /* justify-content: start; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
    border-radius: 11px; 
    position: absolute;
    top: 0;
    right: 0; 
}

.header {
    margin: 0;
    padding: 0;
    color: lightseagreen;
    text-align: center;
    font-size: 1.5rem;
    margin: 1vh 0 0 0;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}