.header {
    margin: 0;
    padding: 0;
    color: lightseagreen;
    text-align: center;
    font-size: 1.8rem;
    margin: 1vh 0;
}

.countryContainer {
    height: 100%;
    width: auto;
    margin-left: 1vw;
    padding: 5px;
    border-radius: 11px;
    
}